/* 全般設定 */

html{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body{
    min-height: 200vh;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* 全般設定終了 */

/* ロード画面設定 */

#loading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    background-color: black;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .spinner img{
    width: 360px;
    animation: logoAnimation 1s infinite;
  }

  .text{
    font-family: 'Zen Dots', cursive;
    text-align: center;
    color: blanchedalmond;
    font-size: 24px;
    animation: textAnimation 1s infinite;
  }

  #loaded-logo{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
  }

  .KurtzPel-logo img{
    animation: KurtzPel-logoAnimation 1s 1;
  }

  .loaded {
    opacity: 0;
    visibility: hidden;
  }

  @keyframes logoAnimation{
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
  }

  @keyframes textAnimation{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
  }

  @keyframes KurtzPel-logoAnimation{
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }

/* ロード画面終了設定 */

/* ページトップ移動設定 */

.pagetop{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    filter: invert(100%);
    z-index: 997;
    cursor: pointer;
}

/* ページトップ移動設定終了 */

/* ヘッダーメニューの設定 */
.headerBar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 997;
    height: 60px;
    background-color: #1d1d1d;
    opacity: 0.7;
    box-shadow: 2px 2px 4px 4px rgb(0, 0, 0);
}

.headerBar-Menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerBar-Menu img{
    margin: auto 10px;
    width: 220px;
    position: relative;
    bottom: 8px;
}

.headerBar-Menu a{
    text-decoration: none;
    color: blanchedalmond;
    opacity: 1;
}

.headerBar-Menu #SoundBtn{
    margin: auto 10px;
    width: 100px;
    font-size: 12px;
    color: blanchedalmond;
    text-align: center;
    display: block;
    padding: 10px 0 10px;
    background-color: rgb(100, 183, 255);
    border-radius: 30px;
    transition: 0.5s;
}

.headerBar-Menu #SoundBtn:hover{
    box-shadow: 0 0 8px gray;
}

.headerBar-Menu #SoundBtn-text{
    margin: 0;
    padding: 0;
}

.headerBar-Menu .left-Menu{
    display: flex;
    margin-left: auto;
    position: relative;
    left: 10px;
}

/* ヘッダーナビゲーションの設定 */
.header-nav{
    margin: auto 10px;
    width: auto;
    height: auto;
}

.header-nav ul{
	display: flex;
    align-items: flex-start;
	margin: 0;
	padding-left: 0px;
	list-style-type: none;
}

.header-nav li{
    margin: 0 0 0 15px;
    font-size: 15px;
    color: blanchedalmond;
    opacity: 1;
    transition: 0.5s;
}

.header-nav li:hover{
    text-shadow: 1px 1px 5px #fddede;
}

.header-nav li li{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.header-nav li:hover > ul > li{
    opacity: 1;
    height: 2rem;
    overflow: visible;
}

/* ヘッダーナビゲーションの終了 */
/* ヘッダーメニューの設定終了 */

/* ヘッダー画像の設定 */
.header-image{
    width: auto;
    height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.videoPlant{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image video{
    filter: brightness(60%);
}

.header-image small{
    display: flex;
    justify-content: flex-end;
}

.Overview{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;
}

.Overview h2,p{
    color: white;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.Overview h2{
    letter-spacing: 0.5em;

}

.Overview p{
    font-size: 3em;
}

.Overview-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 3;
}

.belatos{
    filter: invert(100%);
    color: white;
    position: absolute;
    top: 40%;
    left: 13%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 3;
}

.belatos img{
    width: 70%;
}

.Overview-2 h1{
    letter-spacing: 0.5em;
    position: relative;
    bottom: 80px;
    left: 60px;
}

.Overview-3{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.Overview-3 img{
    filter: invert(100%);
    transition: 0.5s;
}

.Overview-3 img:hover{
    transform: scale(1.5);
}

.mask{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 3;
    position: absolute;
    top: 0;
    display: none;
}

.close {
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: rgb(104, 104, 104);
    opacity: 0.8;
    border: 1px dashed
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 4;
}
/* ヘッダー画像の終了 */

/* ゲームインフォ */
.gameInfo{
    width: auto;
    height: 80vh;
    overflow: hidden;
}
/* ゲームインフォ終了 */

/* ニュース */
.news{
    width: 100%;
    height: 70vh;
    position: relative;
}

.newsWallpaper img{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
    z-index: 0;
}

.news h1{
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -30%);
    margin: auto;

    font-size: 4em;
    letter-spacing: 0.2em;
    font-family: 'Noto Serif JP', serif;
}

/* メニュー内スライド設定 */

.box{
    background-color: rgba(82, 82, 82, 0.3);
    backdrop-filter: blur(10px);
    width: 1300px;
    height: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 1;
}


.sliderPosition{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 2;
}

.slider {
    width: 500px;
    height: 200px;
    overflow: hidden;
    position: relative;

  }
   
  .slideSet {
  }
   
  .slide {
    width: 498px;
    height: 198px;
    border: 1px solid #f00;
    float: left;
  }

  .slider .slideSet {
    position: absolute;
  }

  .sliderBtn{
      display: flex;
  }

  .slider-prev{
      cursor: pointer;
  }

  .slider-next{
      cursor: pointer;
  }

  .updateContents{
    color: white;
    width: 600px;
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 2;
  }

  .updateContents dt{
    border-bottom:1px solid #ccc;
    float:left;
    padding:10px 5px;
  }

  .updateContents dd{
    border-bottom:1px solid #ccc;
    margin-left:100px;
    padding:10px 5px;
  }

  .updateContents a{
    background-color:red;
    border-radius:5px;
    color:#fff;
    margin:0 20px;
    padding:5px 15px;
    text-decoration:none;
  }

  .ucontents1,.ucontents2,.ucontents3{
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
  }
  .ucontents1:hover,.ucontents2:hover,.ucontents3:hover{
    background-color: rgba(156, 156, 156, 0.356);
  }

  .more{
    color: white;
    position: absolute;
    top: 60%;
    left: 81%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 2;
  }
/* メニュー内スライド設定終了 */

/* ナビゲーションの設定*/
.layout{
    display: flex;
    align-items: stretch;
    flex: 1;
}
/* 中央 */
.layout main{
    flex:1;
    padding-top: 50px;
}
/*左側*/
.layout nav{ 
    width: 300px;
    padding-top: 50px;
}
/* 右側 */
.layout aside{
    width: 300px;
    padding-top: 50px;
}
/* ナビゲーションの設定終了 */

/* フッターの設定 */
.footer-bar{
    height: 80px;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
}

.footer-bar p{
    color: white;
    display: flex;
    justify-content: flex-start;
    margin: 16px 16px;
}
/* フッターの設定終了 */

/* 多分特定のサイズになったらリサイズってやつ */

/* 多分特定のサイズになったらリサイズってやつ終了 */