/* 全般設定 */

html{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body{
    min-height: 200vh;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* 全般設定終了 */

/* ロード画面設定 */

#loading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    background-color: black;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
  }
  .spinner img{
    width: 360px;
    animation: logoAnimation 1s infinite;
  }

  .text{
    font-family: 'Zen Dots', cursive;
    text-align: center;
    color: blanchedalmond;
    font-size: 24px;
    animation: textAnimation 1s infinite;
  }

  #loaded-logo{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    background-color: black;
    position: fixed;
    z-index: 3;
  }

  .KurtzPel-logo img{
    animation: KurtzPel-logoAnimation 1s 1;
  }

  .loaded {
    opacity: 0;
    visibility: hidden;
  }

  @keyframes logoAnimation{
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
  }

  @keyframes textAnimation{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
  }

  @keyframes KurtzPel-logoAnimation{
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }

/* ロード画面終了設定 */

/* ヘッダーメニューの設定 */
.headerBar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    height: 60px;
    background-color: #1d1d1d;
    opacity: 0.7;
    box-shadow: 2px 2px 4px 4px rgb(0, 0, 0);
}

.headerBar-Menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerBar-Menu img{
    margin: auto 10px;
    width: 220px;
    position: relative;
    bottom: 8px;
}

.headerBar-Menu a{
    text-decoration: none;
    color: blanchedalmond;
    opacity: 1;
}

.headerBar-Menu #SoundBtn{
    margin: auto 10px;
    width: 100px;
    font-size: 12px;
    color: blanchedalmond;
    text-align: center;
    display: block;
    padding: 10px 0 10px;
    background-color: rgb(100, 183, 255);
    border-radius: 30px;
    transition: 0.5s;
}

.headerBar-Menu #SoundBtn:hover{
    box-shadow: 0 0 8px gray;
}

.headerBar-Menu #SoundBtn-text{
    margin: 0;
    padding: 0;
}

.headerBar-Menu .right-Menu{
    display: flex;
    margin-left: auto;
    position: relative;
    left: 10px;
}
/* ヘッダーナビゲーションの設定 */
.header-nav{
    margin: auto 10px;
    width: auto;
    height: auto;
}

.header-nav ul{
	display: flex;
    align-items: flex-start;
	margin: 0;
	padding-left: 0px;
	list-style-type: none;
}

.header-nav li{
    margin: 0 0 0 15px;
    font-size: 15px;
    color: blanchedalmond;
    opacity: 1;
    transition: 0.5s;
}

.header-nav li:hover{
    text-shadow: 1px 1px 5px #fddede;
}

/* ヘッダーナビゲーションの終了 */
/* ヘッダーメニューの設定終了 */

/* ヘッダー画像の設定 */
.header-image{
    width: auto;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.videoPlant{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image video{
    filter: brightness(60%);
}

.header-image small{
    display: flex;
    justify-content: flex-end;
}

.header-image a{
    text-decoration: none;
    color: #ffffff;
}

/* ヘッダー画像の終了 */

/* ナビゲーションの設定*/
.layout{
    display: flex;
    align-items: stretch;
    flex: 1;
}
/* 中央 */
.layout main{
    flex:1;
    padding-top: 50px;
}
/*左側*/
.layout nav{ 
    width: 300px;
    padding-top: 50px;
}
/* 右側 */
.layout aside{
    width: 300px;
    padding-top: 50px;
}
/* ナビゲーションの設定終了 */

/* フッターの設定 */
.footer-bar{
    height: 80px;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
}

.footer-bar p{
    color: white;
    display: flex;
    justify-content: flex-start;
    margin: 16px 16px;
}
/* フッターの設定終了 */

/* 多分特定のサイズになったらリサイズってやつ */
@media screen and (max-width: 900px){
    html{
        width: 100%;
    }
}
/* 多分特定のサイズになったらリサイズってやつ終了 */